{% extends 'base.html' %}
{% from 'macros.html' import render_form_base %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 class="join-message">Edit Your Profile.</h2>
      <form method="POST" id="user_form">
        {{ render_form_base(form=form, confirm_password=True)}}
        <div class="edit-btn-area">
          <button class="btn btn-success">Edit this user!</button>
          <a href={{ url_for('users_show', user_id=user_id) }} class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}